[MYSQL]
#port = 41069
port = 3306
user = admin
password = 1234
database = test
host = localhost
[GRUPPEN]
1 = ADMIN
2 = Bar
3 = Security
4 = LAD
[HOME]
1=/getBeverages
2=/getBeverages
3=/getBeverages
4=/getOrders


