<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./test.css">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
{% extends "header.html" %}
 <!--{{block.super()}}-->

<body>
{% block content %}

<table>



  <div class="container">

    <h1>Getränke</h1>

 {% for i in range(0, beverages|length, 3) %}
  <div class="item-grid">
    <div class="item">
      <a href="/api/">
      <img alt="Qries" src="{{beverages[i].2}}" width=300" height="300"></a>
      <p>{{beverages[i].1}}</p>
    </div>
    {% if beverages[i+1] %}

    <div class="item">
      <a href="/api/">
      <img alt="Qries" src="{{beverages[i+1].2}}" width=300" height="300"></a>
      <p>{{beverages[i+1].1}}</p>
    </div>
    {% endif %}
    {% if beverages[i+2] %}

    <div class="item">
      <a href="/api/">
      <img alt="Qries" src="{{beverages[i+2].2}}" width=300" height="300"></a>
      <p>{{beverages[i+2].1}}</p>
    </div>
    {% endif %}
  </div>

{% endfor %}

</div>

</table>



{% endblock %}
</body>

</html>