<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/test.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="cart.js"></script>
    <!--<meta http-equiv="refresh" content="10"> HORRIBLE WAY-->
</head>
{% extends "header.html" %}
 <!--{{block.super()}}-->

<body>

{% block LeftSubDiv %}

 <div class="beverageList">
  <div class="container">

    <h1>Getränke</h1>


 {% for i in range(0, beverages|length, 3) %}
  <div class="item-grid">
    <div class="item">
      <a href="/api/addToCart/{{beverages[i].id}}">
      <img alt="Qries" src="{{beverages[i].Img_URL}}" ></a>
      <p>{{beverages[i].Name}}</p>
    </div>
    {% if beverages[i+1] %}

    <div class="item">
      <a href="/api/addToCart/{{beverages[i + 1].id}}">
      <img alt="Qries" src="{{beverages[i+1].Img_URL}}"></a>
      <p>{{beverages[i+1].Name}}</p>
    </div>
    {% endif %}
    {% if beverages[i+2] %}

    <div class="item">
      <a href="/api/addToCart/{{beverages[i + 2].id}}">
      <img alt="Qries" src="{{beverages[i+2].Img_URL}}"></a>
      <p>{{beverages[i+2].Name}}</p>
    </div>
    {% endif %}
  </div>

{% endfor %}

</div>
</div>
{% endblock %}



  {% block RightSubDiv %}
 <div class="shoppingCart">
     {% for key in cart%}
     {% set id = key | int %}

     <div class="item">
         <a href="/api/removeFromCart/{{key}}">

      <img alt="Qries" src="{{beverages[id - 1].Img_URL}}" ></a>
         <h2>
             {{cart[key]}}
         </h2>
         </div>





{% endfor %}


{% if cart|length %}
     <a href="/api/submitOrder">
         <img class="submitBtnImg" alt="Qries" src="https://previews.123rf.com/images/bahau/bahau2002/bahau200200023/140003807-boy-running-marathon-runner-or-a-boy-running-on-school-sport-day-cartoon-stock-vector-illustration-i.jpg" ></a>
{% endif %}
   <!--

<button onclick="sendOrder({{orderlist}})" type="button" class="btn-send">Send</button>

 <img alt="Qries" src="https://e7.pngegg.com/pngimages/363/657/png-clipart-computer-icons-chromatography-50x50-chromatogram-miscellaneous-text-thumbnail.png"
 onclick="sendOrder({{orderlist}})">-->
</div>



{% endblock %}
</body>

</html>