<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/test.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "header.html" %}

{% block LeftSubDiv %}

{{orders[i]}}


 <div class="OrderList">
  <div class="Order-container">

    <h1>Bestellungen</h1>

 {% for i in range(0, orders|length) %}
      {% set currentBar = orders[i].barID %}
      {{currentBar}}
  <div class="item-grid">
    <div class="item">
{{orders[i]}}
      <img alt="Qries" src="{{beverages[i].Img_URL}}" >
      <p>{{orders[i].1}}</p>
    </div>



  </div>

{% endfor %}

</div>
</div>
{% endblock %}



{% block RightSubDiv %}

{% endblock %}
</body>
</html>