<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/test.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "header.html" %}

{% block LeftSubDiv %}

{{orders[i]}}


 <div class="beverageList">
  <div class="container">

    <h1>Bestellungen</h1>

 {% for i in range(0, orders|length) %}
      {{orders[i]}}
  <div class="item-grid">
    <div class="item">

      <img alt="Qries" src="{{orders[i].2}}" >
      <p>{{orders[i].1}}</p>
    </div>



  </div>

{% endfor %}

</div>
</div>
{% endblock %}



{% block RightSubDiv %}

{% endblock %}
</body>
</html>