<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./test.css">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>




<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a href='{% block homeURL %}{% endblock %}'>Home</a></li>
    <li><a class='dropdown-arrow'   >Andere Homepages</a>
      <ul class='sub-menus'>
        <li><a href='/getBeverages'>Bar</a></li>
        <li><a href='/getOrders'>LAD</a></li>
        <li><a href='/Security'>Security</a></li>

      </ul>
    </li>
    <li><a href='http://'>About</a></li>
    <li><a class='dropdown-arrow' href='http://'>Services</a>
      <ul class='sub-menus'>
        <li><a href='http://'>Services 1</a></li>
        <li><a href='http://'>Services 2</a></li>
        <li><a href='http://'>Services 3</a></li>
      </ul>
    </li>
    <li><a href='http://'>Contact Us</a></li>
  </ul>
</nav>
<div class="float-container">

{% block LeftSubDiv %}
{% endblock %}

  {% block RightSubDiv %}
{% endblock %}
</div>


</body>